---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';

import { getPermalink } from '~/utils/permalinks';


const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    image={{ src: import('~/assets/images/k2-taso-group-shot.jpg'), alt: 'K2 TASO group photo' }}
    callToAction={{ text: 'Donate', href: getPermalink('/donate') }}
  >
    <Fragment slot="title">
      Improving lives in rural Malawi
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">K2 Tigwiranemanja AIDS Support Organisation</span> (K2 TASO) is a non-governmental organization
        (NGO) which has its secretariat in Mtunthama, rural Kasungueast, Central Malawi. K2 TASO is working towards a more
        equitable future in which everyone had access to quality healthcare, comprehensive education, good nutrition, clean
        water, and a reliable income. We put a strong emphasis on respecting human rights and contributing to the global
        fight against climate change.
      </span>
    </Fragment>
  </Hero>

  <Features
    highlight="Programs"
    title="What we do"
    items={[
      [
        {
          title: 'Health',
          description:
            'What we do in health',
          icon: 'tabler:bandage',
        },
        {
          title: 'Education',
          description:
            'What we do in...',
            icon: 'tabler:book',
          },
        ],
        [
          {
            title: 'Women\'s Empowerment',
            description:
            'What we do in...',
            icon: 'tabler:venus',
          },
          {
            title: 'Agriculture',
            description:
            'What we do in...',
            icon: 'tabler:growth',
        },
      ],
    ]}
  />
</Layout>
